<section class="member">
  <h1><%= t('.member.h1') %></h1>
  <ul class="member"></ul>
</section>
<section class="rom">
  <h1><%= t('.rom.h1') %></h1>
  <span class="count">0</span>
  <%= t('.rom.count') %>
</section>
