jQuery ->
  unless $('body').hasClass('chats')
    return

  $('input#content').focus()

  Pusher.channel_auth_endpoint = '/pusher/authentication'
  if '<%= Rails.env %>' isnt 'production'
    Pusher.log = (message) -> console.log(message)
    true
  room_id = $('body').attr('data-room_id')
  user_id = $('body').attr('data-user_id')
  channel = pusher.subscribe('presence-chats_' + room_id)
  channel.bind 'chat', (data) ->
    return if data.user_id == user_id
    $.ajax(
      url: '/rooms/' + room_id + '/chats/' + data.id,
      success: (data) ->
        $('ul[data-list="chats"]').prepend(data)
        return
    )
    $.titleAlert.stop()
    $.titleAlert "New Message",
      requireBlur:true
      stopOnFocus:true
      duration:0
      interval:700
    return

  rom_count = 0
  channel.bind 'pusher:subscription_succeeded', (members) ->
    rom_count = 0
    members.each (data) ->
      if data.info.path.match /chats$/
        add_member(data.info)
      else
        rom_count += 1
    update_rom()
    return

  channel.bind 'pusher:subscription_error', (data) ->
    return
    
  channel.bind 'pusher:member_added', (data) ->
    if data.info.path.match /chats$/
      add_member data.info
    else
      rom_count += 1
      update_rom()
    return
  
  channel.bind 'pusher:member_removed', (data) ->
    if data.info.path.match /chats$/
      remove_member data.info
    else
      rom_count -= 1
      update_rom()
    return

  add_member = (member) ->
    remove_member(member)
    $('ul.member').find('[data-class="chat_user"][data-id="' + member.id.toString() + '"]').closest('li').remove()
    $('ul.member').append('<li><span style="color: ' + member.color + ';" data-class="chat_user" data-id="' + member.id.toString() + '">' + member_name(member) + '</span></li>')

  remove_member = (member) ->
    $('ul.member').find('[data-class="chat_user"][data-id="' + member.id.toString() + '"]').closest('li').remove()

  update_rom = () ->
    $('section.rom .count').html(rom_count.toString())

  member_name = (member) ->
    if member.type == 'User::Reserved'
      return '<a href="/users/' + member.id.toString() + '" style="color:' + member.color  + ';" target="_blank">' + member.name + '</a>'
    else
      return member.name
